<% @user ||= current_user %>
<ul class="posts">
  <li><a class="profile-stat-count" href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a></li>
  <li><a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a></li>
</ul>
