<header class=" text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <a href="users/new" class="btn btn-primary btn-xl rounded-pill mt-5">Sign up now</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/01.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Lưu lại ký ức bỏ quên</h2>
          <p>Filmy sẽ là một cuốn nhật ký nhỏ nơi từng khoảnh khắc được lưu lại sau những bức ảnh. Thật ý nghĩa nếu kèm theo một câu chuyện với nó</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/02.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Dễ dàng chia sẻ</h2>
          <p>Kết nối với tất cả mọi người có cùng đam mê chụp ảnh film trên toàn thế giới</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/03.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Viết tất cả những gì bạn muốn</h2>
          <p>Gợi lại một phần của ký ức với trang blog của bạn. Viết mọi thứ mà bạn muốn chia sẻ với tất cả mọi người</p>
        </div>
      </div>
    </div>
  </div>
</section>
