<!DOCTYPE html>
<html>
 <%= render 'layouts/header' %>
  <body>
  <%=render 'layouts/navigation'%>

    <!--Main content-->
    <main class="container" style="min-height: 500px;">
      <%= yield %>
    </main>
   <%= render 'layouts/footer' %>
  </body>
</html>
